.container{
  background-color: lightgray;
  text-align: center;
  height: 200vh;
  border: 4px solid black;
}

.card {
  box-shadow: 5px 5px 5px darkgray;
  text-align: left;
}
.header{
  background-image: linear-gradient(lightgray, darkgray);

}

input {
  box-shadow: 3px 3px 3px darkgray;
}

.btn {
  box-shadow: 3px 3px 3px darkgray;
}
